body {
font-family: "Helvetica Neue", "Helvetica", sans-serif;
margin: 10% 15%;
background-color: rgb(240, 240, 240);
}
 
h1 {
border-bottom: 1px solid rgba(0, 0, 0, 0.5);
margin-left: -2em;
margin-right: -2em;
padding-left: 2em;
padding-right: 2em;
}
 
h1, h2 {
margin-top: 3em;
}
 
a {
color: rgb(40, 40, 40);
}
 
p {
max-width: 40em;
} 
